.*.swp
.deps/
.libs/
*.la
*.lo
*.o
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/hadoop-szl-*.tar.gz
/hadoop-szl-runner
/libtool
/mapper
/m4/
/reducer
/scripts/hadoop-saw
/stamp-h1
